.ofc-banner-container h1,
.ofc-settings-container h1 {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

.cookiejar-container h1,
.cookiejar-container h2,
.cookiejar-container h3,
.cookiejar-container h4,
.cookiejar-container h5,
.cookiejar-container h6,
.cookiejar-container p,
.cookiejar-container button {
  font-family: "Roboto Condensed", sans-serif !important;
  letter-spacing: 0 !important;
}

.cookiejar-container > .ofc-message-container > h3 {
  color: #333 !important;
  text-transform: none !important;
}

.settings-reject-all {
  display: none !important;
}
.ofc-settings-container.visible + .ofc-cookie-container {
  display: none;
}

.cookieJar-logo {
  position: relative;
  width: 160px;
  margin-bottom: 10px;
}

.ofc-banner-container {
  display: none;
  flex-wrap: wrap;
  position: fixed;
  bottom: 10px;
  right: 10px;
  /*   padding-inline: 40px; */
  /* width: calc(100% - 17px); */
  max-width: 330px !important;
  width: 100% !important;
  padding: 0 40px;
  justify-content: space-around;
  z-index: 10000;
  min-height: 100px;
  background-color: #ffffff;
  align-items: center;
  margin: 10px;
  border-radius: 20px 20px 0px 20px;
  border: 1px solid #efefef;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.4);
}

.ofc-banner-container.visible {
  display: flex;
  flex-direction: column;
}

/* .ofc-banner-container > div:nth-child(1) {
  flex: 1 1 50%;
}

.ofc-banner-container > div:nth-child(2) {
  flex: 1 1 30%;
}

.ofc-banner-container > div:nth-child(3) {
  flex: 1 1 15%;
} */

.ofc-banner-container h3 {
  text-align: center;
  font-size: 22px !important;
  /* text-wrap: nowrap; */
  margin-top: 50px !important;
  margin-bottom: 0;
  font-weight: 700;
}

.ofc-banner-container p,
.ofc-settings-container p {
  margin: 0;
  padding: 15px 0 !important;
  text-align: center;
  font-size: 14px !important;
}

.cookie-jar-link {
  text-decoration: underline;
}

.ofc-banner-container.visible ~ .ofc-cookie-container {
  display: none;
}

.ofc-cookie-container {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  left: 20px;
  z-index: 100000000000;
  display: none;
  cursor: pointer;
  transition: bottom 500ms ease;
}

.ofc-cookie-container:hover {
  bottom: 25px;
}

.ofc-cookie-container.visible {
  display: none;
}

.ofc-settings {
  overflow: auto;
  overflow-x: hidden;
  max-height: 300px;
  margin-top: 20px;
}

.ofc-settings-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10001;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.ofc-settings-container.visible {
  display: block;
}

.ofc-settings-content {
  position: absolute;
  bottom: 10px;
  right: 10px;
/*   width: 75%; */
  max-width: 600px;
  background-color: #ffffff;
  padding: 25px 40px;
  overflow: auto;
  border-radius: 25px 25px 0px 25px;
}

.ofc-popclose {
  /* margin-top: -74px; */
  /* margin-right: -30px; */
  position: absolute;
  right: 20px;
  top: 20px;
}

.ofc-settings-content H2 {
  font-size: 24px !important;
  color: #00000090 !important;
}

img.lock-icon {
  max-width: 10px !important;
  max-height: 10px !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 0.5 !important;
}

.ofc-settings-content-header {
  display: flex;
  justify-content: space-between;
}

.ofc-accordion {
  padding: 10px 0;
}

.ofc-popbutton {
  background: #fff !important;
  border: 2px solid #000 !important;
  padding: 13px 30px !important;
  font-size: 12px !important;
  color: #000 !important;
  transition: 0.2s !important;
  cursor: pointer !important;
  font-weight: 700 !important;
  /* margin-top: 30px; */
}

.ofc-popbutton {
  background: #000 !important;
  color: #fff !important;
  margin-right: 5px !important;
}

.left-buttons > .ofc-popbutton:last-child {
  color: #000 !important;
  background: #fff !important;
  /* float: right; */
}

.powered-by {
  margin-top: 20px !important;
  width: 100%;
}

.powered-by,
.settings p {
  text-align: end !important;
  font-size: 14px !important;
  font-weight: 700;
  color: #00000070 !important;
  padding: 0;
}

/* .ofc-popbutton:hover {
  background: #000;
  border-radius: 100px;
  border: 1px solid #000;
  color: #fff;
  transition: 0.2s;
} */

.cookie-button-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.cookie-button-container button {
  border-radius: 0;
  border: 2px solid #000 !important;
  padding: 10px 33px !important;
  font-size: 14px !important;
  transition: 0.2s;
  cursor: pointer;
  float: right;
  /* margin: 7px; */
  font-weight: 700;
}

.cookie-button-container button:first-child {
  background: #000 !important;
  color: #fff !important;
}

.cookie-button-container button:last-child {
  background: #fff !important;
  color: #000 !important;
}
.settings {
  margin-top: 20px;
}

.settings .cookie-button {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  width: 120px;
  height: 30px;
  font-size: 14px;
  font-weight: 600;
}

.settings .cookie-button::before {
  content: "";
  background-image: url(images/cog_icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  max-width: 15px;
  max-height: 15px;
  width: 100%;
  height: 100%;
  position: relative;
}

.settings p {
  width: 100%;
  text-align: end;
  text-wrap: nowrap;
}

/* .cookie-button-container button:hover {
  background: #000;
  border-radius: 100px;
  border: 1px solid #000;
  color: #fff;
  transition: 0.2s;
} */

.ofc-settings-content-header p {
  font-size: 14px !important;
  margin-bottom: 10px !important;
  font-weight: 600;
  color: #00000090 !important;
}

.ofc-close {
  background: #fff !important;
  border: none !important;
  width: 25px !important;
  height: 25px !important;
  color: #000 !important;
  transition: 0.2s !important;
  cursor: pointer !important;
  float: right !important;
  max-width: 25px !important;
  min-width: 25px !important;
}

.ofc-close:hover {
  padding: 0 !important;
}

.ofc-close:focus {
  outline: 0 !important;
}

.ofc-close img {
  max-width: 16px !important;
  max-height: 16px !important;
  width: 100% !important;
  height: 100% !important;
}

.ofc-close:hover {
  /* background: #000; */
  /* border: 1px solid #000; */
  border-radius: 100px !important;
  width: 30px !important;
  height: 30px !important;
  padding: 6px !important;
  color: #ffffff !important;
  transition: 0.2s;
}

.ofc-close-container {
  padding: 10px !important;
  position: absolute;
  top: 10px;
  right: 10px;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.settings button {
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.ofc-accordion-body {
  /* border-radius: 5px; */
  /* background: #efefef; */
  padding: 5px;
  max-width: 80%;
}

.ofc-accordion-body p {
  font-size: 12px !important;
  color: #00000090 !important;
  line-height: 1.4em !important;
  padding-left: 10px;
  text-align: start !important;
}

.ofc-message-container p {
  padding: 10px !important;
  color: #00000090 !important;
}

.ofc-privacytext,
.ofc-privacytext ~ p {
  font-size: 12px !important;
  line-height: 18px !important;
  text-align: start !important;
  color: #00000090 !important;
}

.ofc-privacytext a {
  color: #000 !important;
}

.ofc-accordion-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.ofc-accordion-head > p {
  font-size: 16px !important;
  font-weight: 600;
}

.ofc-accordion-head.active > p::before {
  rotate: 90deg;
}

.ofc-accordion-head > p::before {
  content: "";
  background-image: url(images/right-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 20px;
  height: 12px;
  margin-right: 5px;
  transition: rotate 0.2s ease;
}

hr {
  margin: 0;
}

.ofc-toggle-switch {
  position: relative;
  display: inline-block;
  width: 30px !important;
  height: 10px !important;
}

.ofc-toggle-switch input[type="checkbox"] {
  display: none;
}

.ofc-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9b9b9b;
  transition: background-color 0.4s, transform 0.4s;
  border-radius: 26px;
}

.ofc-toggle-switch input[type="checkbox"]:checked + .ofc-toggle-slider {
  background-color: #000000 !important;
}

.ofc-toggle-switch input[type="checkbox"]:checked + .ofc-toggle-slider:before {
  transform: translateX(16px) !important;
  background-color: #000 !important;
}

.ofc-toggle-slider:before {
  position: absolute;
  content: "";
  height: 13px !important;
  width: 13px !important;
  left: -2px !important;
  top: -3px !important;
  bottom: 3px !important;
  background-color: #9b9b9b !important;
  transition: transform 0.4s !important;
  border-radius: 50% !important;
  border: 2px solid #fff !important;
}

/*--- Get Rid of clutter in Cookie Jar ---*/

.ofc-banner-container {
              padding: 10px 5px !important;
               max-width: 280px !important;
}

.ofc-banner-container > .cookiejar-container {
              width: 90%;
              max-width: 238px !important;
}

.ofc-banner-container > .cookiejar-container > .ofc-close-container > .ofc-close {
              display:none !important;
}

.ofc-banner-container > .cookiejar-container > .ofc-message-container h3 {
              font-size: 18px !important;
              margin-bottom: 10px;
              margin-top: 22px !important;
}

.ofc-banner-container > .cookiejar-container > .settings {
              margin-top: 0px !important;
}

.ofc-banner-container > .cookiejar-container > .ofc-message-container p {
              display:none !important;
}


/*--END- Get Rid of clutter in Cookie Jar -END--*/


@media (max-width: 365px) {
  .powered-by.powered-by.powered-by {
    margin-top: 25px !important;
  }
}

@media (max-width: 380px) {
  .ofc-banner-container {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .ofc-popbutton:last-child {
    float: none !important;
  }

  /* div.privacy-content-text {
    max-height: 120px !important;
    overflow: scroll !important;
  } */
}

@media (max-width: 497px) {
  /* .powered-by {
    margin-top: 0 !important;
    width: auto;
  } */

  .button-container {
    justify-content: center;
  }

  .powered-by {
    text-align: center !important;
  }

  .ofc-settings-content {
    padding: 25px 40px 0;
  }

  /* .left-buttons {
    margin: auto;
  } */
}

@media (max-width: 500px) {
  .ofc-settings-container.visible {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ofc-settings-content {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100vw;
    max-height: 100vh;
    height: 90%;
  }

  .settings-content-container {
    max-height: 50vh;
    overflow-y: scroll;
  }
}

@media (max-height: 800px) {
  .settings-content-container {
    max-height: 50vh;
    overflow-y: scroll;
  }
}
